<html lang="en-US">

<head>
    <meta charset="UTF-8">
    <title>BabyCaring</title>
    <link rel="stylesheet" id="bootstrap-css-css" href="/css/bootstrap5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="main-css-css" href="/css/main5152.css?ver=1.0" type="text/css" media="all">
    <link rel="stylesheet" id="responsive-css-css" href="/css/responsive5152.css?ver=1.0" type="text/css" media="all">
</head>

<body>

    <!-- header -->
    <div class="header-wrapper">
        <header>
            <div class="container">

                <div class="logo-container">
                    <!-- Website Logo -->
                    <a href="/" title="BabyCaring">
                        <img src="/images/logo.png" alt="BabyCaring">
                    </a>
                    <span class="tag-line">A perfect platform for sharing real life experience</span>
                </div>

                <!--  navigation -->
                <nav class="main-nav">
                    <div class="menu-top-menu-container">
                        <ul id="menu-top-menu" class="clearfix">
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Ask Question</a></li>
                            <li><a href="/login">Log In</a></li>
                            <li><a href="/register">Register</a></li>
                        </ul>
                    </div>
                </nav>
                <!--  navigation ends-->
            </div>
        </header>
    </div>
    <!-- header ends -->

    <!-- Search Wrapper -->
    <div class="search-area-wrapper">
        <div class="search-area container">
            <h3 class="search-header">Have Questions About Your Baby?</h3>
            <p class="search-tag-line">Simply search and find real life solutions here!</p>
            <form id="search-form" class="search-form clearfix" method="get" action="/search">
                <input class="search-term required" type="text" id="s" name="s"
                    placeholder="Type your questions here for related answers..." title=" enter a search term!"
                    autocomplete="off">
                <input class="search-btn" type="submit" value="Let's go!">
                <div id="search-error-container"></div>
            </form>
        </div>
    </div>
    <!-- Search Wrapper ends -->

    <!-- Start of Page Container -->
    <!-- Start of Page Container -->
    <div class="page-container">
        <div class="container">
            <div class="row">
                <!-- start of page content -->
                <div class="span8 page-content">
                    <article class=" type-post format-standard hentry clearfix">
                        <h3>Comment sucessfull!</h3>
                        <a href="/loggedin"><input class="btn" type="submit" value="Back to home page"></a>
                    </article>
                </div>
                <!-- end of page content -->
            </div>
        </div>
    </div>

    <!-- End of Page Container -->

    <!-- Start of Footer -->
    <footer id="footer-wrapper">
        <div id="footer" class="container">
            <div class="row">

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Why BabyCaring?</h3>
                        <div class="textwidget">
                            <p>Instead of drowning yourself into loads of unrelated information, Babycaring gives you an
                                opportunity to simply
                                search for your question by typing key words, and find related questions and answers.
                            </p>
                        </div>
                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Consultation</h3>
                        <div id="twitter_update_list">
                            <ul>
                                <li>Do you need help from certified experts? Simply click <a href="/askexpert">here</a>
                                    to start your consultation!</li>
                            </ul>
                        </div>

                    </section>
                </div>

                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Topics</h3>
                        <ul>
                            <li><a href="#" title="Baby Growth">Baby Growth</a> </li>
                            <li><a href="#" title="Baby Photo Sharing">Baby Photo Sharing</a></li>
                            <li><a href="#" title="Baby Safety">Baby Safety</a></li>
                            <li><a href="#" title="Breastfeeding">Breastfeeding</a></li>

                        </ul>
                    </section>
                </div>


                <div class="span3">
                    <section class="widget">
                        <h3 class="title">Quick Links</h3>
                        <ul>
                            <li><a href="/" title="Home">Home</a> </li>
                            <li><a href="/login">Ask Question</a></li>
                            <li><a href="/login" title="Log In">Log In</a></li>
                            <li><a href="/register" title="Register">Register</a></li>
                        </ul>
                    </section>
                </div>

            </div>
        </div>
        <!-- end of #footer -->

        <!-- Footer Bottom -->
        <div id="footer-bottom-wrapper">
            <div id="footer-bottom" class="container">
                <div class="row">
                    <div class="span6">
                        <p class="copyright">
                            Copyright &copy; 2019.BabyCaring All rights reserved.
                        </p>
                    </div>

                </div>
            </div>
        </div>
        <!-- End of Footer Bottom -->

    </footer>
    <!-- End of Footer -->

</body>

</html>